{
  "src/**/*.ts": [
    "prettier --write",
    "ng lint ngx-translate-plugins --fix --files",
    "git add"
  ],
  "projects/testing/src/**/*.ts": [
    "prettier --write",
    "ng lint testing --fix",
    "git add"
  ]
}
